.box {
    width: 25%;
    height: 30%;
    border: 2px solid black;
    background-color: lightblue;

    padding: 10px;
    margin: 10px;
}

/* section {
    width: 200px;
    height: 200px;
    background-color: darkgray;
} */

#brief_info_block {
    background-color: lightgray;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}

.input_error {
    border: 2px solid red;
}

input {
    border: 1px solid black;
    border-radius: 8px;
}